.controller {
  bottom: 0;
  padding: 1em;
  height: 10em;
  position: absolute;
  display: inline-block;
  margin-right: 10px;
}

.drag-area {
  bottom: 0;
  float: left;
  padding: 1em;
  background-color: gray;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 7rem;
}

.wrist {
  width: 7rem;
}

#slider1 {
  left: 0%;
}

#slider2 {
  left: 25%;
}

.cursor {
  height: 10px;
  width: 10px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: green;
  top: 2em;
}

.desc {
  font-size: 9px;
}