/* This CSS is an example. You can delete this at will. */
.header {
    color: red;
}

.map-container {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
}

.row-7 {
    height: 70%;
}

.row-3 {
    height: 10%;
}

.col-7 {
    height: 100%;
    width: 70%
}