<!doctype html>
<html lang="en">
  <head>
    <title>Tracker</title>
    <!-- Required meta tags -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../APIs_Frameworks/bootstrap4/css/bootstrap.css">

   	<!-- Leaflet -->
    <link rel="stylesheet" href="../../APIs_Frameworks/leaflet/leaflet.css">

   <!--bootstrapslider-->
   <link rel="stylesheet" type="text/css" href="../../APIs_Frameworks/bootstrap_slider/css/bootstrap_slider.css">

   <!--mycss-->
   <link rel="stylesheet" type="text/css" href="tracker.css">

  </head>

  <body>
    
    <div class="container-fluid">
    	<div class="row">
    		<!--inputbox ip address-->
    		<div class="col">
    			http://
    			<input type="text" placeholder="enter tracker esp32's network address" size="42" id="espIP">
    			<button class="btn btn-light" type="button" id="connectesp">Connect ESP32</button>
			</div>
			<div class="col">
				<div id="heading">Heading: null</div>
				<div id="longitude">Longitude: null</div>
				<div id="latitude">Latitude: null</div>
			</div>
    	</div>
		
	    <div class="row">
			<div class="col-4">
				<h2>Control</h2>
		    	<div class="row margin-top">
					<div class="col">
						<h5>Zoom</h5>
		    			<button id="zoom1x" type="button" class="btn btn-dark">1x</button>
						<button id="zoom2x" type="button" class="btn btn-dark">2x</button>
						<button id="zoom4x" type="button" class="btn btn-dark">4x</button>
		    		</div>
		    	</div>
				
		    	<div class="row margin-top">
					<div class="col">
						<h5>Pitch</h5>
						<div id="app2">
							<circle-slider
							v-model="val0"
							:min="-45"
							:max="45"
							:circle-width="8"
							:progress-width="9"
							:knob-radius="9"
							circle-color="#2c2300"
							progress-color="#ffcf00"
							knob-color="#ffcf00"
							@touchmove="$refs.input.blur()"
							></circle-slider>
							<input ref="input" type="number" v-model.number="val0" id="pitchBox"/>
						</div>
						<button id="pitchSend" type="button" class="btn btn-dark">Send</button>
					</div>
		    		<div class="col">
						<h5>Yaw</h5>
						<div id="app1">
							<circle-slider
							v-model="val0"
							:min="0"
							:max="360"
							:circle-width="8"
							:progress-width="9"
							:knob-radius="9"
							circle-color="#2c2300"
							progress-color="#ffcf00"
							knob-color="#ffcf00"
							@touchmove="$refs.input.blur()"
							></circle-slider>
							
							<input ref="input" type="number" v-model.number="val0" id="yawBox"/>
						</div>
		    			<button id="yawSend" type="button" class="btn btn-dark">Send</button>
		    		</div>
		    	</div>
		    	<div class="row margin-top">
					<div class="col">
						<h5>Console</h5>
					</div>
					<div class="col">
						<button id="clear" type="button" class="btn btn-dark">clear</button>
					</div>
					
		    	</div>
		    	<div class="row margin-top-console">
					<div class="col">
						<textarea rows="11" class="form-control" style="cursor: default" id="log" disabled></textarea>
					</div>
				</div>
		    </div>
		    <div class="col-4">
				<h2>Camera</h2>
				<div class="row">
					http://
					<input type="text" placeholder="enter camera network address" size="42" value="192.168.0.101" id="cameraIP">
					<button class="btn btn-light" type="button" id="connectcamera">Connect Camera</button>
				</div>
				<div class="row">
					<img id="video" src="http://192.168.1.12:9001" alt="NO SIGNAL DETECTED">
				</div>
			</div>
			<div class="col-4">
				<h2>Map</h2>
				<div clas="row">
					<div id="mapid"></div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text" id="lat" placeholder="input lat here"/>
					</div>
					<div class="col">
						<input type="text" id="lng" placeholder="input lng here"/>	
					</div>
					<div class="col">
						<button id="latlng" type="button">Add decimal marker</button>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text" id="lat-degrees" placeholder="input lat degrees here"/>
					</div>
					<div class="col">
						<input type="text" id="lat-minutes" placeholder="input lat minutes here"/>
					</div>
					<div class="col">
						<input type="text" id="lat-seconds" placeholder="input lat seconds here"/>
					</div>
					<div class="col">
						<input type"text" id="lat-hemisphere" placeholder="input lng hemisphere here">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="text" id="lng-degrees" placeholder="input lng degrees here"/>
					</div>
					<div class="col">
						<input type="text" id="lng-minutes" placeholder="input lng minutes here"/>
					</div>
					<div class="col">
						<input type="text" id="lng-seconds" placeholder="input lng seconds here"/>
					</div>
					<div class="col">
						<input type"text" id="lng-hemisphere" placeholder="input lng hemisphere here">
					</div>
				</div>
					<div class="col">
						<button id="latlng-dms" type="button">Add marker</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>

    <!-- JavaScript -->
	
	<script src="../../APIs_Frameworks/jquery/jquery-2.0.3.min.js"></script>
    <script src="../../APIs_Frameworks/bootstrap4/js/bootstrap.bundle.js"></script>
    <script src="../../APIs_Frameworks/bootstrap_slider/js/bootstrap_slider.js" crossorgin="anonymous"></script>

	<!--vue circle slider-->
	<script type="text/javascript" src="../../APIs_Frameworks/vue/vue.js"></script>
	<script type="text/javascript" src="../../APIs_Frameworks/vue-circle-slider/vue-circle-slider.browser.js"></script>
    <!-- leaflet -->
	<script src="../../APIs_Frameworks/leaflet/leaflet.js"></script>
	
	<script src="../../APIs_Frameworks/leaflet-compass/leaflet-compass.src.js"></script>

   <script src="../../Core/js/format.js" type="module"></script>
   <script src="tracker.js" type="module"></script>
  </body>
</html>